form {
    border: 1px solid;
    border-color: #331832;
    border-radius: 10px;
    align-self: flex-start;
    margin: 10px;
    padding: 2px;
    width: 90%;
    color: #331832;
}

label {
    display: block;
}

input {
    width: 50%;
    display: block;
    background-color: #FDF0D5;
    border: 1px solid;
    border-color: #331832;
    border-radius: 10px;

}
