.goal-item {
    background-color: #F0544F;
    min-width: 200px;
    max-width: 20%;
    aspect-ratio: 4/1;
    margin: 10px;
    text-align: left;
    flex-grow: 1;
    color: #FDF0D5;
    display: flex;
}

.goal-item p {
    font-style: italic;
    font-size: 0.65rem;
}

.goal-item__deadline {
    font-size: 0.65rem;
    display: inline-flex;
}

.goal-item__image {
    width: 25%;
}